<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Todos</title>
  </head>
  <body>
    <h1>Add todo</h1>
    <form action="/todos" method="POST">
      <label for="todo_text">Todo</label>
      <input name="todo_text" type="text" value=""/>
      <input name="submit" type="submit" value="Submit"/>
    </form>
    <h1>Todos</h1>
    <ul>
      {% for todo in todos %}
      <li>
	{{todo[1]}}
	<form action="/todos/mark-done" method="POST">
	  <input name="id" type="hidden" value={{todo[0]}} />
	  <input type="submit" value="Mark as done"/>
	</form>
      </li>
      {% endfor %}
    </ul>

    <h1>Done</h1>
    <ul>
      {% for done in done_todos %}
      <li>
	{{done[1]}}
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
